.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--bg-2);
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  position: relative;
}
.closeButton {
  position: absolute;
  top: 50px;
  right: 12px;
  transform: translateY(-100%);

  font-size: 2.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: var(--gray-1);
  color: var(--black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease all;
  z-index: 2;
  &:hover {
    background-color: #e32525;
    color: white;
  }
}
.formTitle {
  color: var(--black-1);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: capitalize;
}
.form {
  width: 100%;
  label {
    font-size: 1.6rem;
    color: var(--black-1);
    input,
    textarea,
    select {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      width: 100%;
      padding: 1rem;
      border: none;
      background-color: var(--white);
      font-size: 1.6rem;
      resize: vertical;
    }
  }
}
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.button1 {
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--primaryPurple);
  color: var(--white);
  &__select {
    color: var(--black-2);
    font-family: Poppins;
    padding: 1rem;
    border: none;
    background-color: var(--bg-3);

    width: 150px;
    cursor: pointer;
  }
}
.button2 {
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  background-color: var(--bg-3);
  color: var(--black-1);
  cursor: pointer;
  overflow: hidden;
  &__select {
    color: var(--black-2);
    font-family: Poppins;
    padding: 1rem;
    border: none;
    background-color: var(--bg-3);

    width: 150px;
    cursor: pointer;
  }
}

form label span {
  color: red;
  margin-left: 5px;
}
